<h4 style="text-align:center">Convertisseur de monnaies</h4>

<table class="Couleur" border="5" align="center">
  <tbody>
    <tr valign="middle">
      <td>
        <app-champ-nb [nombreE]="nbSaisie" (NombreEnvoyer)="nombreSaisie($event)"></app-champ-nb>
      </td>
      <td align="center">
        <app-champ-monnaie [monnaieE]="monnaie" (newMonnaieE)="saisieMonnaie($event)"></app-champ-monnaie>
      </td>
      <td align="center">
        <app-reset-bouton (effacerSaisie)="effacerSaisie($event)">
        </app-reset-bouton>
      </td>
    </tr>
  </tbody>
</table>


<table class="Couleur" border="2" style="width:30%" align="center">
  <tbody>
    <tr valign="middle">
      <ng-container *ngFor="let e of monnaies, let i=index">
        <ng-container *ngIf="i>0">
          <td align="center">
            <app-bouton-monnaie [monnaiesE]="monnaies" [indexE]="i" (envoiMonnaie)="MonnaieConversion($event)">
            </app-bouton-monnaie>
          </td>
        </ng-container>
      </ng-container>

    </tr>
  </tbody>
</table>